
table 
{
    border-collapse: collapse;
    width: 80%; 
    border: 0.1rem solid black
}

th, td 
{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th 
{
    
    background-color: grey;
}

img 
{
    max-width: 100px; 
    border-radius: 5px; 
}
caption
{
    font-size: 1.5em;
    background-color: red;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: white;
}